# Variable
Variable is a name given to a memory location while identifiers are name given to entities like function anme, class naame etc.
They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

### Variable assignment

In [ ]:
#We use the assignment operator (=) to assign values to a variable

a = 10
b = 5.5
c = "ML"

### Multiple assignment

In [ ]:
a, b, c = 10, 5.5, "ML"

### Assign same value to all variables

In [ ]:
a,b,c = 10

### Storage location

In [1]:
x = 3 
print(id(x)) #address of x
y = 3
print(id(y)) #address of y

4475466944
4475466944

In [2]:
y =2
print(id(y))

4475466912

#### When x and y contained same value then x and y were pointing to same location but later they were pointing to different location.

# Data Types
Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

## Numbers
Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [3]:
a = 5
print(type(a))

<class 'int'>

In [4]:
a = 2.7
print(type(a))

<class 'float'>

In [5]:
a = 3+2.4j
print(type(a))
print(isinstance(a, complex))

<class 'complex'>
True

## Boolean
Boolean represents the truth values False and True

In [6]:
a = True
print(type(a))

<class 'bool'>

## Python Strings https://www.geeksforgeeks.org/string-slicing-in-python/
String is sequence of Unicode characters.

We can use single quotes or double quotes to represent strings.

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.

Strings can be indexed - often synonymously called subscripted as well.

Similar to C, the first character of a string has the index 0.

In [7]:
s = "This is Online AI course"
print(s)

This is Online AI course

In [8]:
print(s[0])

T

In [9]:
print(s[-1])
print(s[len(s)-1])

e
e

In [10]:
print(s[5:])

is Online AI course

In [11]:
print(s[:5])

This

# Python List
List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

Lists are mutable, meaning, value of elements of a list can be altered.

In [12]:
a = [10, 20.5, "Hello"]
print(a[1])  # print element at index 1

20.5

In [13]:
a[1]= 'prashant'

In [14]:
print(a[1])

prashant

In [15]:
print(a)

[10, 'prashant', 'Hello']

# Python Tuple
Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [16]:
t = (1, 1.5, "ML")

In [17]:
print(t[1])

1.5

In [18]:
t[1]= "maddie"

TypeError: 'tuple' object does not support item assignment

# Python Set
Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [19]:
a = {10,10, 20, 40}
print(a)

{40, 10, 20}

In [20]:
print(type(a))

<class 'set'>

In [21]:
s = {10, 20, 20, 30, 30, 30}
print(s)

{10, 20, 30}

In [22]:
print(s[1])

TypeError: 'set' object is not subscriptable

# Python Dictionary
Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [23]:
couples = {'Mummy':'papa', 'bhai':'bhabhi','sweety':'jija', 'Prashant':'Munu'}
print(couples['Mummy'])

papa

### Conversion between Datatypes
We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [24]:
a = 5
print(float(a))

5.0

In [25]:
a = 2.3
print(int(a))

2

In [26]:
print(str(a))

2.3

Conversion to and from string must contain compatible values.

In [27]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [30]:
user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, satish! You just wrote 100 lines of code

We can convert one sequence to other

In [31]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<class 'list'>
<class 'set'>

In [32]:
list("Hello")

['H', 'e', 'l', 'l', 'o']