# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [3]:
# Write your code here
print("Data","Science", "Mentorship", "Program", "By", "CampusX" , sep = "-")

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [5]:
# Write your code here
celsius = float(input("enter temp in degrees"))
fahrenheit = celsius * (1.8) + 32
print(fahrenheit)

enter temp in degrees8
46.4

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [1]:
# Write your code here
a = 9
b=10
a = a+b
b = a-b
a = a-b
print("a: ",a)
print("b: ",b)

a:  10
b:  9

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [8]:
# Write your code here
import math
point_1x = int(input("enter point 1x values"))
point_2x = int(input("enter point 2x values"))
point_1y = int(input("enter point 1y values"))
point_2y = int(input("enter point 2y values"))

euclidean_dist = math.sqrt((point_1x-point_2x)**2 + (point_1y-point_2y)**2 )
print(euclidean_dist)

enter point 1x values2
enter point 2x values4
enter point 1y values1
enter point 2y values2
2.23606797749979

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [6]:
# Write your code here
principal = float(input("Enter principal "))
roi = float(input("Enter roi "))
time = float(input("Enter time "))
interest = (principal * roi * time)/100
print("interest ", interest)

Enter principal 100
Enter roi 20
Enter time 30
interest  600.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [3]:
# Write your code here
n_heads = int(input("Enter number of heads"))
n_legs = int(input("Enter number of legs"))
n_hens = (4*n_heads - n_legs)/2
n_dogs = n_heads - n_hens
print("n_dogs: ", n_dogs)
print("n_hens: ", n_hens)

Enter number of heads5
Enter number of legs16
n_dogs:  3.0
n_hens:  2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [9]:
# Write your code here
n = int(input("Enter a value of n "))
sum = 0;
for i in range(1,n+1):
  print(i)
  sum = sum + i *i

print(sum)

Enter a value of n 2
1
2
5

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [10]:
# Write your code here
a_1 = int(input("Enter first term"))
a_2 = int(input("Enter second term"))
diff = a_2 - a_1
n = int(input("Enter number of term"))
nth_term = a_1 + (n-1) * diff
print("nth term ",nth_term )

Enter first term4
Enter second term8
Enter number of term5
nth term  20

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [11]:
# Write your code here
n1 = int(input("num 1 "))
n2 = int(input("num 2 "))
d1 = int(input("den 1 "))
d2 = int(input("den 2 "))
sum = ((n1*d2)+(n2*d1))/(d1*d2)
print(sum)

num 1 2
num 2 5
den 1 5
den 2 7
1.1142857142857143

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [12]:
# Write your code here
# tank dim 
h_tank = int(input("Input tank height "))
l_tank = int(input("Input tank length "))
b_tank = int(input("Input tank width "))
vol_tank = h_tank * l_tank * b_tank
# glass dim
h_glass = int(input("Input glass height "))
r_glass = int(input("Input glass height "))
vol_glass = 3.14 * h_glass * r_glass * r_glass
# Number of glasses
num_glasses = vol_tank / vol_glass
print("Num of glasses: ", num_glasses)

Input tank height 10
Input tank length 20
Input tank width 30
Input glass height 10
Input glass height 3
Num of glasses:  21.231422505307854